name: CI/CD Pipeline
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
        - uses: actions/checkout@v4
        - run: docker compose up -d --build
        - run: curl -I http://localhost/
        - run: curl -I http://localhost/api/items/

