name: CI - Dockerized 2 Tier App

on:
  push:
    branches: [ "master" ]
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker
        uses: docker/setup-buildx-action@v3

      - name: Build and start containers
        run: |
          docker compose up -d --build

      - name: Wait for backend
        run: |
          echo "Waiting for backend..."
          for i in {1..20}; do
            if curl -s http://localhost/api/items/ > /dev/null; then
              echo "Backend is up"
              exit 0
            fi
            echo "Not ready yet..."
            sleep 3
          done
          echo "Backend never became ready"
          docker compose logs
          exit 1

      - name: Run API test
        run: |
          curl -vf http://localhost/
          curl -vf http://localhost/api/items/

      - name: Shut down
        if: always()
        run: docker compose down
