name: CI/CD Pipeline
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
        - uses: actions/checkout@v4
        - run: docker compose up -d --build --wait
        - run: curl -I http://localhost/
        - run: curl -I http://localhost/api/items/ 
        - if: failure()
          run: |
           docker compose exec -T database mysql -uroot -pahmadzia -e "CREATE DATABASE IF NOT EXISTS university;"
           docker compose restart
           curl -I http://localhost/
           curl -I http://localhost/api/items/ 
           docker compose logs cd-backend-1
           docker compose logs cd-database-1|| true
          
