name: CI - Dockerized 2 Tier App

on:
  push:
    branches: [ "master" ]
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build and start containers
        run: |
          docker compose up -d --build --wait
          docker compose logs
          docker compose logs proxy
          docker compose exec backend sh -c "echo working"
          


      - name: Run API test
        run: |
          sleep 3s 
          curl -vf http://localhost/
          curl -vf http://localhost/api/items/

      - name: Shut down
        if: always()
        run: docker compose down
